@charset "UTF-8";

body {
  padding-top: 0px;
  line-height: 1
}

#container{
	max-inline-size: 100%;
	margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
	background-color: white
}

#contenido{
	background-color: white;
	
}

#menu{
 background-color: #d9d9d9;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 text-align: right
 
}
#cabecera{
	background-color: #d9d9d9

}

#vistaGeneral{
	border: none;
	overflow: auto;
	background-color: "#ffffff";
	padding-left: 0px;
    padding-right: 0px;
    width: 100%
	
}
#logo_cabecera{
	margin: 2%; 
	float: right;
	width: 70%
}